extends layout

block title
  h1= title 
  button#btn_new NEW 
  button#btn_save SAVE 
  button#btn_save_as SAVE AS 

block files 
  -for(let i=0; i<data.length; i++)
    li
      button('onclick', clk()) #{data.k}
  
block tabs 
