doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/notepad.js") 
    script(src="/javascripts/events.js")
  body
    #title
      block title

    #files 
      div FILELIST
      ul.file-list
        block files 

    #tabs
      ul.tab-list 
        block tabs

    block content
    