doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/loginstyle.css')
    script(src="/javascripts/notepad.js") 
    script(src="/javascripts/events.js")
  body
    form(action="/login", method="post") 
      table
        tr 
          td(colspan=2)
            h4 Login 
        tr 
          td 
            h5 ID
          td 
            input#id(type="text", name="id")
        tr 
          td 
            h5 PW 
          td 
            input#pw(type="password", name="pw")
        tr 
          td(colspan=2) 
            button(type="submit") Login

    