div {
  /* TODO: 필요한 CSS를 채워넣어 보세요! */
  /* border-style: solid; */
  border-width: 1px;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}

.container {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 50px 40px 400px 150px;
  /* grid-gap: 10px 10px; */
}

.header {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
  display: flex;
  justify-content: space-between;
}

.header > p:nth-child(2) {
  display: inline-flex;
}

.list {
  grid-column: 1 / span 1;
  grid-row: 2 / span 3;
  border-right-style: solid;
  border-right-style: double;
}

.list > div {
  width: 100%;
  justify-content: space-between;
  margin-top: 10px;
}

.list div {
  display: inline-flex;
  border-width: 0em;
}

.list button {
  margin-inline: 5px;
}

.list ul {
  padding-left: 10px;
}

.list li {
  text-align: left;
  list-style: none;
  margin-top: 2px;
  margin-bottom: 2px;

  user-select: none;
}

.tab {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;

  display: flex;
  flex-direction: row;

  overflow: hidden;

  max-width: 97%;
}

.tab ul {
  display: flex;
  flex-direction: row;
  margin: 5px;
  margin-bottom: 0px;
}

.tab li {
  width: 150px;
  margin-left: 2px;
  margin-right: 2px;
  background-color: beige;
  list-style: none;
  /* display: flex; */
  padding-left: 5%;
  padding-right: 5%;
  align-self: flex-end;
  overflow: hidden;
}

.tab_list {
  padding: 0%;
}

.tab_list button {
  height: 16px;
  right: 5px;
  text-align: center;
}

.contents {
  grid-column: 2 / span 1;
  grid-row: 3 / span 2;
}

.contents textarea {
  width: 97%;
  height: 95%;
  padding: 5px;
  resize: none;
}

.selected {
  font-weight: bolder;
}

.tab input {
  border-width: 0.2px;
  border-radius: 3px;
}
