<html>
  <head>
    <title>Notepad</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <!-- <script src="/javascripts/notepad.js"></script> -->
    <script src="/javascripts/note.js"></script>
    <!-- <script src="/javascripts/title.js"></script> -->
  </head>

  <body>
    <h1>Notepad</h1>
    <div class="container">
      <div id="header" class="header">
        <button id="new">new</button>
        <button id="save">save</button>
        <button id="saveAs">save as</button>
      </div>
      <div class="list">
        <div>
          <p>File List</p>
        </div>
        <ul id="title_list"></ul>
      </div>
      <div class="tab">
        <ul id="tab_list"></ul>
      </div>
      <div id="contents">
        <textarea id="content"></textarea>
      </div>
    </div>
  </body>
</html>
